<div class="row">

  <div class="col-6 col-sm-4">
      <div>

        <button routerLink="../../pages/customers" class="btn btn-success btn-semi-round btn-demo">Manage Customer 1</button>
      </div>
  </div>
  
  <div class="col-6 col-sm-4">
      <div>
        <button routerLink="/pages/customers" class="btn btn-success btn-semi-round btn-demo">Manage Customer 2</button>
      </div>
  </div>

  <div class="col-6 col-sm-4">
      <div>
        <button routerLink="/pages/customers" class="btn btn-success btn-semi-round btn-demo">Manage Customer 3</button>
      </div>
  </div>

  </div>