
    <div *ngIf="customer">
        
        <div>
            <label>Civilité: </label> {{customer.id}}
        </div>

        <div>
            <label>Civilité: </label> {{customer.civility}}
        </div>

        
        <div>
        <label>Nom utilsateur: </label> {{customer.username}}
        </div>

        <div>
            <label>Nom: </label> {{customer.lastname}}
        </div>

        
        <div>
            <label>Prénom: </label> {{customer.firstname}}
        </div>

        <div>
            <label>E-mail: </label> {{customer.email}}
        </div>

        <div>
            <label>Âge: </label> {{customer.age}}
        </div>
        <span class="button is-small btn-danger" (click)='removeCustomer(customer.username)'>Delete</span>
        <hr/>
    </div>   