<nb-card>
          <nb-card> <nb-card-header></nb-card-header> <nb-card-body>
          <form>
              <div class="form-group">
                  <select (change)="onSelectedCivility($event)" class="form-control">
                    <option value="" selected disabled hidden>Choisir la civilité</option>
                    <option>Mademoiselle</option>
                    <option>Monsieur</option>
                    <option>Madame</option>
                  </select>
                </div>
            
            <div class="form-group">
                <input type="text" placeholder=" Saisir ID" class="form-control"  #id  />
            </div>
              
            <div class="form-group">
              <input type="text" placeholder=" nom utilisateur" class="form-control"  #username />
            </div>
      
            <div class="form-group">
              <input type="text" placeholder="Nom client" class="form-control"  #lastname />
            </div>


            <div class="form-group">
                <input type="text" placeholder="Prenom client" class="form-control"  #firstname/>
              </div>

              <div class="form-group">
                  <input type="text" placeholder="E-mail" class="form-control" #email />
              </div>
  
              <div class="form-group">
                  <input type="number" placeholder="Age" class="form-control"  #age/>
              </div>

      
            <div class="row full-name-inputs">
              <div class="col-sm-6 form-group">
                <button type="submit" class="btn btn-primary">Annuler</button>
              </div>
      
              <div class="col-sm-6 form-group">
                <button type="submit" class="btn btn-success"
                  (click)="saveCustomer(id.value,selectedCivility,username.value, lastname.value,firstname.value, email.value, age.value)">Enregistrer</button>
              </div>
            </div>
            </form>
          </nb-card-body> </nb-card>
  </nb-card>